.calculator
{
     border: 1px solid rgb(97, 94, 94);
    background-color: rgb(85, 71, 92);
    width: 226px;
    height: 450px;
    border-radius: 10px; 
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
   
}


